.product{
    display: flex;
    padding: 0px 15px 30px 25px;
    margin-left: 10px;
    margin-bottom: 28px;
    border-bottom: 1px solid #d3d3d3;
}
.product img{
    margin: 10px;
}
.product-details{
    margin-left: 30px;
    margin-right: 10px;
}
.product-name{
    color: blue;
    font-weight: 500;
}
.main-button{
    width: 150px;
    height: 32px;
    font-size: 14px;
    border: 1px solid darkgray;
    background-color: rgb(231, 186, 72);
    border-radius: 5px;
    cursor: pointer;
}
.main-button:hover{
    padding: 5px;
    background-color: rgb(238, 211, 161);
}